body{
	min-width: 800px;
	padding: 20px 70px;
	height: 100vh;
	overflow: hidden;
	font-family: 'Ubuntu', 'Tahoma', sans-serif;
	background: -webkit-linear-gradient(#fff, #C2C2C2);
	background: -o-linear-gradient(#fff, #C2C2C2);
	background: -moz-linear-gradient(#fff, #C2C2C2);
	background: linear-gradient(#fff, #C2C2C2);
	background-repeat: no-repeat;
	background-size: cover;
}

@keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-32px);
    transform: translateY(-32px);
  }

  50% {
    -webkit-transform: translateY(-16px);
    transform: translateY(-16px);
  }

  100% {
    -webkit-transform: translateY(-32px);
    transform: translateY(-32px);
  }
}

@-webkit-keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-32px);
    transform: translateY(-32px);
  }
}

@keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-32px);
    transform: translateY(-32px);
  }
}

.lsp-my-love{
	position: fixed;
	right: 50px;
	top: 50px;
	width: 10vw;
	cursor: help;

	-webkit-animation-name: hvr-bob-float, hvr-bob;
	animation-name: hvr-bob-float, hvr-bob;
	-webkit-animation-duration: .3s, 1.5s;
	animation-duration: .3s, 1.5s;
	-webkit-animation-delay: 0s, .3s;
	animation-delay: 0s, .3s;
	-webkit-animation-timing-function: ease-out, ease-in-out;
	animation-timing-function: ease-out, ease-in-out;
	-webkit-animation-iteration-count: 1, infinite;
	animation-iteration-count: 1, infinite;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	-webkit-animation-direction: normal, alternate;
	animation-direction: normal, alternate;
}
.samba__title{
	font-size: 50px;
	cursor: default;
	margin-bottom: 40px;
}
.samba__input{
	padding: 15px;
	border: 1px solid #ccc;
	outline: none;
	width: 50%;
	margin-bottom: 20px;
}
.samba__btn{
	border: 1px solid #8F8F8F;
	padding: 15px;
	position: relative;
	top: 2px;
	cursor: pointer;
	margin-left: 15px;
	transition: all 0.5s ease;
}
.samba__btn:hover{
	background-color: #C2C2C2;
	color: #141414;
	transition: all 0.5s ease;
}
.samba__btn.-second{
	margin-left: 0;
}
#loader {
    background: none repeat scroll 0 0 #ffffff;
    bottom: 0;
    height: 100%;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 9999;
}